@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --primary-color: theme("colors.primary.500") !important;
  --primary-100-color: theme("colors.primary.100") !important;
  --primary-400-color: theme("colors.primary.400") !important;
  --tertiary-color: theme("colors.tertiary.DEFAULT") !important;
  --dark-color: theme("colors.dark.DEFAULT") !important;
  --white-color: theme("colors.white.DEFAULT") !important;
  --light-color: theme("colors.light.DEFAULT") !important; */
  --main-shadow: theme("boxShadow.main") !important;
  --font-display: theme("fontFamily.display") !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0 !important;
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto Condensed", Arial, sans-serif;
}
